<div class="container">
    <div class="container-search">
        <input type="text" class="form-control input-search" (keyup)="getProducts()" name="name"
            placeholder="Search...">

        <button class="btn-primary" (click)="goToManageProduct()">Agregar</button>
    </div>
    <div class="container-table">
        <table>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre del producto</th>
                    <th>Descripción</th>
                    <th>Fecha de libearción</th>
                    <th>Fecha de reestructuración</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let product of products; index as i" class="">
                    <tr>
                        <td>{{product.logo}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.date_release}}</td>
                        <td>{{product.date_revision}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <div class="container-options">
            <span>{{getQuantityProduct()}} resultados</span>

        </div>
    </div>
</div>