/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.btn-primary {
    color: #233263;
    font-weight: 700;
    background-color: #F5DF66;
    cursor: pointer;
    border: unset;
    padding: 10px 15px;
}

.display-errors {
    margin-top: 0;
    width: 100%;
    color: red;
}

.display-errors p {
    margin-top: 0 !important;
}